**/*~
aclocal.m4
autom4te.cache
compile
config.*
configure
debian/autoreconf.*
debian/files
debian/wmclockmon
debian/wmclockmon*debhelper*
debian/wmclockmon.substvars
depcomp
INSTALL
install-sh
**/Makefile
**/Makefile.in
missing
**/*.o
.pc
src/wmclockmon
stamp-h1
wmclockmon-cal/wmclockmon-cal
wmclockmon-config/wmclockmon
