Source: wmclockmon
Section: x11
Priority: optional
Maintainer: Debian Window Maker Team <pkg-wmaker-devel@lists.alioth.debian.org>
Uploaders: Doug Torrance <dtorrance@piedmont.edu>
Build-Depends: autotools-dev,
               debhelper (>= 7),
               libgtk2.0-dev,
               libx11-dev,
               libxext-dev,
               libxi-dev,
               libxpm-dev,
               libxt-dev
Standards-Version: 3.9.7

Package: wmclockmon
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: Displays a clock in 12/24h mode with alarm mode
 wmclockmon displays a clock like wmtime, but with an alarm timer and
 different styles (14 + user customized ones). There's also a "binary
 clock" style available.
